footer {
    width: 100vw;
    height: var(--header-size)*2;
    box-sizing: border-box;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0rem 0rem 2rem .1rem rgb(92, 92, 92);
    bottom: 0;
    z-index: 10;
    background-color: white;

}

footer-texts {
    display: flex;
    gap: 6rem;
    align-items: center;
}

.footer-text {
    color: black;
    text-decoration: none;
    user-select: none;
}

.footer-text:hover {
    color: var(--accent-color);
}

.logo {
    width: auto;
    height: 12vh;
}