
@import "./globals.css";

Info {
    top: 5rem;
    bottom: 5rem;
    text-align: center;
    position: relative;
    width: 50vw;
    height: 56px;
    line-height: 56px;
    padding: 20px 0;
    border-top: 2px solid rgb(120,120,120);
    border-bottom: 2px solid rgb(120,120,120);
    font-weight: bold;
    font-size: 10;
    }

    nav2 {
        left:25%;
        text-align: center;
        position: relative;
        width: 50vw;
        height: 56px;
        line-height: 56px;
        border-top: 2px solid rgb(120,120,120);
        border-bottom: 2px solid rgb(120,120,120);
        gap: 6rem;
        display: flex;
        align-items: center;
    }
    
    .nav2-links {
        left:25%;
        color: black;
        text-decoration: none;
        user-select: none;
        text-align: center;
    }
    
    .nav2-links:hover {
        color: var(--accent-color);
    }

    .image-container {
        display: flex;
        justify-content: center;
        margin-top: 10rem; 
      }