@import "./globals.css";

main {
    margin-top: var(--header-size)*0.75;
    z-index: 0;
    
    .container {
        position: relative; /* Establish positioning context for absolute positioning */
        overflow-x: hidden;
    }
    
    .dream-vacation {
        position: absolute;
        top: 50%; /* Position the text vertically in the middle */
        transform: translateY(-50%); /* Adjust the text's vertical position based on its own height */
        left: 50%; /* Position the text horizontally in the middle */
        transform: translateX(-50%); /* Adjust the text's horizontal position based on its own width */
        text-align: center; /* Center align the text */
        font-size: 50px;
        color: rgb(255, 255, 255);
        font-weight: bold; 
        text-shadow: 5px 5px 10px rgb(126, 126, 126);
    }
}